POSTGRES_DB=unidash
POSTGRES_USER=admin
POSTGRES_PASSWORD=admin123
DB_PORT=5432

BASE_URL=localhost
HOST_PORT=4200
METABASE_PORT=3000
BACKEND_PORT=8080

METABASE_USER=admin@example.com
METABASE_PASS=Admin123Qwerty

MFT_DASH_PORT=4201
AI_API_AUTH_TOKEN=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
AI_MODEL=stepfun/step-3.5-flash:free