services:
  db: 
    image: postgres:15
    restart: always
    ports:
      - "${DB_PORT}:5432"
    environment:
      POSTGRES_USER: ${POSTGRES_USER}
      POSTGRES_PASSWORD: ${POSTGRES_PASSWORD}
      POSTGRES_DB: ${POSTGRES_DB}
    volumes:
      - metabase_db_data:/var/lib/postgresql/data
    networks:
      - app-network

  metabase:
    image: metabase/metabase:latest
    container_name: metabase_app
    ports:
      - "${METABASE_PORT}:3000"
    environment:
      MB_DB_TYPE: postgres
      MB_DB_DBNAME: ${POSTGRES_DB}
      MB_DB_PORT: 5432
      MB_DB_USER: ${POSTGRES_USER}
      MB_DB_PASS: ${POSTGRES_PASSWORD}
      MB_DB_HOST: db
      MB_JETTY_HOST: 0.0.0.0
      MB_EMBEDDED_APP_ORIGIN: "http://${BASE_URL}:${HOST_PORT},http://${BASE_URL}:${MFT_DASH_PORT}"
    volumes:
      - ./metabase-data:/metabase-data 
    restart: unless-stopped
    depends_on:
      - db
    networks:
      - app-network
  
  backend:
    build:
      context: ./backend/Dashboards
      dockerfile: Dockerfile
    ports:
      - "${BACKEND_PORT}:8080"
    environment:
      ASPNETCORE_ENVIRONMENT: Development
      ASPNETCORE_HTTPS_PORT: 443
      DB_CONNECTION_STRING: Host=db;Database=${POSTGRES_DB};Username=${POSTGRES_USER};Password=${POSTGRES_PASSWORD};IncludeErrorDetail=true
    platform: linux/amd64
    depends_on:
      - db
      - metabase
    restart: unless-stopped
    networks:
      - app-network

  host-app:
    build: 
      context: ./frontend
      dockerfile: Dockerfile
    ports:
      - "${HOST_PORT}:${HOST_PORT}"
    volumes:
      - ./frontend:/app 
      - host_node_modules:/app/node_modules   
    environment:
      - DASHBOARDS=${DASHBOARDS}
      - METABASE_URL=http://localhost:${METABASE_PORT}
      - MFT_URL=http://${BASE_URL}:${MFT_DASH_PORT}
    command: npx ng serve host --host 0.0.0.0 --port ${HOST_PORT} --disable-host-check --public-host http://localhost:${HOST_PORT} 
    networks:
      - app-network

  dashboards-mft:
    build: 
      context: ./frontend
    volumes:
      - ./frontend:/app
      - mft_node_modules:/app/node_modules 
    ports:
      - "${MFT_DASH_PORT}:${MFT_DASH_PORT}"
    environment:
      - BASE_URL=${BASE_URL}
      - METABASE_PORT=${METABASE_PORT}
      - MFT_URL=http://${BASE_URL}:${MFT_DASH_PORT}
      - METABASE_URL=http://${BASE_URL}:${METABASE_PORT}
      - METABASE_USER=${METABASE_USER}
      - METABASE_PASS=${METABASE_PASS}
    command: npx ng serve dashboards --host 0.0.0.0 --port ${MFT_DASH_PORT} --disable-host-check --live-reload false
    networks:
      - app-network

networks:
  app-network:
    driver: bridge

volumes:
  metabase_db_data:
  host_node_modules:
  mft_node_modules:
