services:
  host-app:
    build: 
      context: ./frontend
      dockerfile: Dockerfile
    ports:
      - "${HOST_PORT}:${HOST_PORT}"
    volumes:
      - ./frontend:/app 
      - host_node_modules:/app/node_modules   
    environment:
      - DASHBOARDS=${DASHBOARDS}
      - METABASE_URL=http://${BASE_URL}:${METABASE_PORT}
    command: npx ng serve host --host 0.0.0.0 --port ${HOST_PORT} --disable-host-check --public-host http://localhost:${HOST_PORT} 
    networks:
      - app-network

  dashboards-mft:
    build: 
      context: ./frontend
    volumes:
      - ./frontend:/app
      - mft_node_modules:/app/node_modules 
    ports:
      - "${MFT_DASH_PORT}:${MFT_DASH_PORT}"
    environment:
      - METABASE_URL=http://${BASE_URL}:${METABASE_PORT}
      - METABASE_DASHBOARD_ID=${ID_DASHBOARD_1}
      - MFT_URL=http://localhost:${MFT_DASH_PORT}
    command: npx ng serve dashboards --host 0.0.0.0 --port ${MFT_DASH_PORT} --disable-host-check --live-reload false
    networks:
      - app-network

  students-mft:
    build: 
      context: ./frontend
    volumes:
      - ./frontend:/app
      - mft_node_modules:/app/node_modules 
    ports:
      - "${MFT_STUD_PORT}:${MFT_STUD_PORT}"
    environment:
      - METABASE_URL=http://localhost:${METABASE_PORT}
      - METABASE_DASHBOARD_ID=${ID_STUDENTS}
      - MFT_URL=http://localhost:${MFT_STUD_PORT}
    command: npx ng serve dashboards --host 0.0.0.0 --port ${MFT_STUD_PORT} --disable-host-check --live-reload false
    networks:
      - app-network

  metabase:
    image: metabase/metabase:latest
    container_name: metabase_service
    ports:
      - "${METABASE_PORT}:3000"
    environment:
      - MB_JETTY_HOST=0.0.0.0
    networks:
      - app-network
    restart: always

networks:
  app-network:
    driver: bridge

volumes:
  host_node_modules:
  mft_node_modules: