version: "3.9"

services:
  postgres:
    image: postgres:16
    env_file: .env.dev
    ports:
      - "5432:5432"
    volumes:
      - pgdata:/var/lib/postgresql/data

  backend:
    build:
      context: ./backend/Dashboards
      dockerfile: Dockerfile.dev
    volumes:
      - ./backend/Dashboards:/app
    env_file: .env.dev
    ports:
      - "8080:8080"
    depends_on:
      - postgres

  frontend:
    build:
      context: ./frontend
      dockerfile: Dockerfile.dev
    volumes:
      - ./frontend:/app
      - node_modules:/app/node_modules
    ports:
      - "4200:4200"
    depends_on:
      - backend

volumes:
  pgdata:
  node_modules:
