<form [formGroup]="form" (ngSubmit)="submit()" class="login-form">

  <h2 class="login-title">вход в систему</h2>

  <tui-textfield>
    <label tuiLabel>Логин</label>
    <input
      tuiTextfield
      formControlName="login"
      placeholder="Введите логин"
    />
  </tui-textfield>

  <tui-textfield>
    <label tuiLabel>Пароль</label>
    <input
      tuiTextfield
      type="password"
      formControlName="password"
      placeholder="Введите пароль"
    />
  </tui-textfield>

  <button tuiButton type="submit" [disabled]="form.invalid">
    Войти
  </button>
</form>
