.host-container {
  padding: 2rem;
  max-width: 1200px;
  margin: 0 auto;
}

.tabs-container {
  display: flex;
  gap: 0.5rem;
  border-bottom: 1px solid var(--tui-base-03);
  padding-bottom: 1rem;
}

.tab-button {
  border-radius: 8px;
}

.remote-slot {
  background: #ffffff;
  border: 1px solid var(--tui-base-03);
  border-radius: var(--tui-radius-l);
  min-height: 650px;
  padding: 1rem;
  box-shadow: var(--tui-shadow-m);

  dashboards-mft {
    display: block;
    width: 100%;
  }
}
