<tui-root>
  <div class="host-container">
    <div class="header-row">
      <h1 class="tui-text_h3">Дашборды</h1>

      <a
        tuiButton
        appearance="primary"
        size="m"
        class="admin-button"
        target="_blank"
        [href]="metabaseAdminUrl"
      >
        Панель администрирования
      </a>
    </div>

    <div class="remote-slot tui-space_top-6">
      <dashboards-mft
        [attr.metabase-url]="metabaseUrl">
      </dashboards-mft>
    </div>
  </div>
</tui-root>
