.host-container {
  padding: 2rem;
  max-width: 1200px;
  margin: 0 auto;
}

.header-row {
  display: flex;
  align-items: center;
  justify-content: space-between;
  border-bottom: 1px solid var(--tui-base-03);
  gap: 1rem;
}

tui-tabs {
  border: none;
}

.admin-button {margin-left: auto;
  align-self: center;
  text-align: center;
  display: inline-flex;
  justify-content: center;
}

.remote-slot {
  background: #ffffff;
  border: 1px solid var(--tui-base-03);
  border-radius: var(--tui-radius-l);
  min-height: 650px;
  padding: 1rem;
  box-shadow: var(--tui-shadow-m);

  dashboards-mft {
    display: block;
    width: 100%;
  }
}
