<div class="mft-wrapper">
  <ng-container *ngIf="!isLoading; else loading">
    <tui-tabs
      *ngIf="dashboards.length > 0"
      class="tabs-container"
      [activeItemIndex]="activeIndex"
      (activeItemIndexChange)="onTabClick($event)"
    >
      <button *ngFor="let dash of dashboards" tuiTab type="button">
        {{ dash.name }}
      </button>
    </tui-tabs>

    <div class="iframe-container" *ngIf="safeUrl">
      <iframe [src]="safeUrl" class="dashboard-iframe" frameborder="0"></iframe>
    </div>

    <div *ngIf="dashboards.length === 0" class="empty-state">
      Дашборды не найдены.
    </div>
  </ng-container>

  <ng-template #loading>
    <div class="loading-state">Загрузка дашбордов...</div>
  </ng-template>
</div>
