@import '@taiga-ui/core/styles/taiga-ui-local';

:host {
  display: block;
  width: 100%;
}

tui-tabs {
  margin-bottom: 1.5rem;
  border: none;
}

.iframe-container {
  width: 100%;
  border-radius: var(--tui-radius-m);
  overflow: hidden;

  iframe {
    width: 100%;
    height: 800px;
    border: none;
    display: block;
  }
}
